@model IEnumerable<sstSolutions.Models.ciudad>

@{
    ViewData["Title"] = "Index";
}

<h2>Ciudades</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Crear </button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ciudadUTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadUTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudadNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ciudadId"><button class="btn btn-primary">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.ciudadId"><button class="btn btn-primary">Detalles</button></a> |
                <a asp-action="Delete" asp-route-id="@item.ciudadId"><button class="btn btn-primary">Eliminar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
