@model sstSolutions.Models.viaje

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>viaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.horaPartida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horaPartida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horaLlegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horaLlegada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiempoViaje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiempoViaje)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.viajeId"><button class="btn btn-primary">Editar</button></a> |
    <a asp-action="Index"><button class="btn btn-primary">Regresar al listado</button></a>
</div>
