@model IEnumerable<sstSolutions.Models.viaje>

@{
    ViewData["Title"] = "Index";
}

<h2>Viajes</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.horaPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tiempoViaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.horaPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaLlegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tiempoViaje)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.viajeId"><button class="btn btn-primary">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.viajeId"><button class="btn btn-primary">Detalles</button></a> |
                <a asp-action="Delete" asp-route-id="@item.viajeId"><button class="btn btn-primary">Eliminar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
